// Colors
$violet: #7c5dfa;
$violet-light: #9277ff;
$dark-blue: #1e2139;
$dark-blueish: #252945;
$grey-light: #dfe3fa;
$grey: #888eb0;
$greyish-blue: #7e88c3;
$blackish: #0c0e16;
$orange: #ec5757;
$orange-light: #9277ff;
$whitesmoke: #f8f8fb;
$black: #141625;
