@font-face {
  font-family: 'Spartan';
  src: url('./spartan-cufonfonts/Spartan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: url('./spartan-cufonfonts/Spartan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: url('./spartan-cufonfonts/Spartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: url('./spartan-cufonfonts/Spartan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
